//global
* {
  padding: 0;
  box-sizing: border-box;
}

html,body{
  overflow-x: hidden;
  min-height:100vh;
}

main {
  min-height:100vh;
}


.clickable {
  cursor:pointer;
}

//header
$navbar-light-active-color: var(--bs-success); 

.navbar {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  li {
    text-transform: uppercase;
  }
}

.search-div {
  background: var(--bs-success);
  height:12em;
  input {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

.search-btn {
  box-shadow:none!important;
}

.css-13cymwt-control, .css-13cymwt-control:hover, .css-t3ipsp-control, .css-t3ipsp-control:hover {
  border:none!important;
  box-shadow: none!important;
}


.logo-img {
  width:200px;
}

//footer {
footer {
  background: var(--bs-success);
  height:11em;
}

//slider
.keen-slider {
  max-height: 300px; 
  overflow: hidden; 
}

.keen-slider__slide {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

//cards
  $card-bg: var(--bs-secondary);

  $card-border-color:none;
  .card {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20)!important;

  };

  .card-footer {
    background-color: var(--bs-secondary)!important;
  }

  .img-card {
    height:17em!important;
  }

  .card {
    height:15em;
    overflow: hidden;
  }

//tag
.options-tag {
  background-color: var(--bs-light-pink);
  border: 1px solid var(--bs-light-pink);
}

.vegan-tag {
  background-color: var(--bs-fuchsia);
  border: 1px solid var(--bs-fuchsia);

}

.vegan-tag, .options-tag {
  padding: 0.3em;
  color: white;
  border-radius: 0.5em;
}

//btn
.btn {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

//input
$input-focus-border-color: var(--bs-secondary);
$form-select-focus-border-color: var(--bs-secondary);
$input-focus-box-shadow: 0 0 0 0.25rem rgba(13, 253, 241, 0.25);
$form-select-focus-box-shadow: 0 0 0 0.25rem rgba(13, 253, 241, 0.25);
$input-border-radius:20px;
$input-bg: var(--bs-secondary);
$input-border-color:var(--bs-secondary);
$form-check-input-checked-bg-color: var(--bs-success);
$form-check-input-checked-border-color: var(--bs-success);
$form-check-input-focus-border:    var(--bs-success);
$form-check-input-focus-box-shadow:  var(--bs-secondary);

input, textarea, select {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.124)
}

//colors
$theme-colors: (
  'primary': #4B49BA, // custom blue/purple
  'secondary': #E4FDF9, // custom mint
  'success': #00B191, // custom green
  'info': #0DCAF0,
  'warning': #FFC107,
  'danger': #DC3545,
  'light': #F8F9FA,
  'dark': #212529,
);

$custom-colors: (
    'fuchsia':  #ED82FF,
    'light-pink': #FF82DA,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

//font size 
$font-sizes: (
  1: 0.625rem,   
  2: 0.875rem,    
  3: 1rem,       
  4: 1.25rem,     
  5: 1.5rem,    
  6:2rem
);


@import '/node_modules/bootstrap/scss/bootstrap.scss';
